nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1 {  
   color: white;
   font-size: 45px;
   text-align: center;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: aqua;
}

body{
    background-image: url(../img/fondo2.jpg);
}

.yuji{
    background-image: url(../img/fondo2.jpg);
}

iframe{
    width: 30%;
    padding-left: 10%;
}

h2{
    color: white;
    text-align: center;
}

dl{
    color: white;
}

footer{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

th{color: white;
}

.fre{
    width: 900px; height: 0%;
}

.yuli{ color: white;
}
.tulo{
    color: white;
}

.d-block { 
    height: 550px;
    margin-left: 12%;
}
    
p{
    color: white;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}
img{
    width: 100%;
}

.refe{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}
.column img{
    margin-top: 5px;
}
@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}